.animated {
    -webkit-animation-duration: 1s;
    animation-duration:1s;
 /* 向前和向后填充模式都被应用。*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
	/*规定动画应该无限次播放。*/
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.fiveSecond {
    -webkit-animation-duration: 5s;
    animation-duration: 5s
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0)
    }
    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        -ms-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0)
    }
    50% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0)
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}